[submodule "related-projects/external-tasks/skill"]
	path = related-projects/external-tasks/skill
	url = https://github.com/pinchbench/skill.git
[submodule "related-projects/external-tasks/WildClawBench"]
	path = related-projects/external-tasks/WildClawBench
	url = https://github.com/InternLM/WildClawBench.git
[submodule "related-projects/external-tasks/clawbench"]
	path = related-projects/external-tasks/clawbench
	url = https://github.com/openclaw/clawbench.git
[submodule "related-projects/external-tasks/liveclawbench"]
	path = related-projects/external-tasks/liveclawbench
	url = https://github.com/Mosi-AI/LiveClawBench.git
